/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/* TOPBAR */
.topbar__container {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    height: 8vh;
    background-color: #eee;
}

.topbar__container_contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.topbar__container_social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topbar__container li {
    padding: 0 0 0 5px;
    color: #797979;
}

.topbar__text {
    display: none;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) {
    .topbar__text {
        display: inline;
    }

    .navbar__container {
        padding: 0 29px 0 24px;
    }
}

@media only screen and (min-width: 1024px) {
    .topbar__container {
        padding: 5px 30px;
        height: 6vh;
    }
}

@media only screen and (min-width: 1440px) {
    .topbar__container {
        padding: 5px 150px;
        height: 5vh;
    }
}



/* NAVBAR */
.navbar {
    height: 15vh;
    display: flex;
    align-items: center;
}

.navbar__container {
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar__container_header {
    color: #ff8b00;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Oswald, sans-serif;
}

.navbar__menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 131px;
    left:0;
    background-color: #fff;
    z-index: 10;
    font-family: Oswald, sans-serif;
}

.navbar__menu_item li {
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    padding: 14px 20px;
}

.navbar__active {
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

@media only screen and (min-width: 768px) {
    .navbar__container {
        padding: 0px 26px 0 23px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 12vh;
    }

    .navbar__container {
        width: 45%;
    }

    .navbar__container_hamburger {
        display: none;
    }

    .navbar__menu {
        /* border: 1px solid red; */
        background-color: none;
        position: unset;
        display: inline;
        margin-right: 25px;
    }

    .navbar__menu_item ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__menu_item li {
        padding: 0 ;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        margin: 0 12px;
    }
}

@media only screen and (min-width: 1440px) {
    .navbar {
        margin: 0 130px;
    }
}


/* MAIN */
.main__container {
    background-image: url('https://source.unsplash.com/pSyfecRCBQA/1920x780');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 110vh;
    position: relative;
}

.main__container_opaque {
    background: linear-gradient(45deg, rgb(55, 122, 255) 0%, rgb(0, 217, 255) 100%);
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100%;
    z-index:1;
}

.main__container_textbox {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 2;
    margin: 0 15px;
    color: white;
    font-family: Oswald, sans-serif;
    top: 100px;
}

.textbox__header {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
    letter-spacing: 2.5px;
}

.textbox__detail {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;
}

.textbox__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.textbox__form_input {
    height: 10vh;
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    width: 60%;
}

.textbox__form_button {
    height: 10vh;
    padding: 0 20px;
    color: white;
    background-color: rgb(255, 139, 0);
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .main__container_textbox {
        top: 125px;
        /* left: -50px; */
        margin: 0 46px;
    }
    
    .textbox__form_input {
        width: 80%;
    }

    .textbox__form_button {
        width: 18%;
    }

    .main__container {
        height: 100vh;
    }

    .main__container_opaque {
        height: 100vh;
    }

    .service__container_dot .dot {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .main__container_textbox {
        width: 50%;
    }

    .textbox__detail {
        font-size: 20px;
    }

    .textbox__form_input {
        width: 70%;
    }

    .textbox__form_button {
        width: 28%;
    }
}

@media only screen and (min-width: 1024px) {
    .main__container_textbox {
        top: 215px;
    }

    .textbox__header {
        font-size: 45px;
    }

    .textbox__detail {
        font-size: 25px;
    }

    .textbox__form_input {
        padding: 0 20px;
        font-size: 18px;
        height: 8vh;
    }

    .textbox__form_button {
        font-size: 18px;
        height: 8vh;
    }
}

@media only screen and (min-width: 1440px) {
    .main__container_textbox {
        top: 265px;
        left: 115px;
        width: 40%;
    }

    .textbox__form_input {
        height: 7vh;
    }

    .textbox__form_button {
        height: 7vh;
    }
}



/* SERVICE */
.service {
    position: relative;
    z-index: 1;
    top: -65px;
    padding-bottom: 48px;
}

.service__container {
    /* border: 1px solid yellow; */
    padding: 0 15px;
    position: inherit;
    z-index: 1;
}

.service__container_box {
    /* border: 1px solid red; */
    font-family: Oswald, sans-serif;
    text-align: center;
}

.service__image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.service__header {
    color: rgb(255, 139, 0);
    font-size: 22.4px;
    margin-bottom: 10px;
}

.service__text {
    color: rgb(153, 153, 153);
    font-size: 18px;
    line-height: 30px;
    padding: 0 10px;
}

.service__container_dot {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.dot span {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: rgb(204, 204, 204);
    margin: 5px;
    border-radius: 50%;
}

.service__tab {
    display: none;
}

@media only screen and (min-width: 768px) {
    .service__container_box {
        margin: 0 30px;
    }
}

@media only screen and (min-width: 992px) {
    .service__tab {
        display: block;
    }

    .service__container {
        margin: 0 34px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-bottom: 25px;
    }

    .service__container_box {
        margin: 0 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .service__header {
        font-size: 25px;
    }

    .service__text {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .service__container {
        padding: 0 100px;
        margin-bottom: 40px;
    }

    .service__container_box {
        margin: 0 25px;
    }

    .service__header {
        font-size: 30px;
    }

    .service__text {
        font-size: 23px;
    }
}


/* OFFER */
.offer {
    background-color: #f6f5f5;
    margin-top: -65px;
}

.offer__container {
    padding: 48px 15px;
}

.offer__container_textbox {
    font-family: Oswald, sans-serif;
    text-align: center;
}

.offer__header {
    font-size: 32px;
    color:#ff8b00;
    border-bottom: 8px;
}

.offer__detail {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 17px;
    color: #939393;
    font-weight: 400;
}

.offer__container_box {
    border: 1px solid #CCCCCC;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.offer__container_box i {
    color: #ff8b00;
    margin-bottom: 25px;
}

.offer__container_box h1 {
    font-size: 22.4px;
    font-family: Oswald, sans-serif;
    margin-bottom: 16px;
}

.offer__container_box p {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    margin-bottom: 16px;

}

.offer__container_dot {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offer__tablet {
    display: none;
}

@media only screen and (min-width: 768px) {
    .offer__container_textbox {
        width: 45%;
        margin: 0 auto;
    }

    .offer__detail {
        font-size: 18px;
        letter-spacing: 0.5px;
    }

    .offer__container_box {
        margin: 50px 30px 0 30px;
    }
}

@media only screen and (min-width: 992px) {
    .offer__container_dot .dot {
        display: none;
    }

    .offer__container_textbox {
        width: 55%;
    }

    .offer__header {
        font-size: 45px;
    }
    
    .offer__tablet {
        display: flex;
    }

    .offer__container__tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 60px 20px 50px;
        flex-wrap: wrap;
    }

    .offer__container_box {
        margin: unset;
        margin-bottom: 30px;
        width: 31%;
    }
}

@media only screen and (min-width: 1024px) {
    .offer__container__tablet {
        margin: 60px 28px 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .offer__container_textbox {
        width: 45%;
    }

    .offer__header {
        font-size: 48px;
    }

    .offer__detail {
        font-size: 24px;
    }
    
    .offer__container__tablet {
        margin: 70px 150px 60px;
    }

    .offer__container_box p {
        font-size: 18px
    }
}



/* ABOUT US */
.about__container {
    /* background-color: red; */
    padding: 48px 15px;
}

.about__container_textbox {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.about__header {
    font-size: 32px;
    margin-bottom: 8px;
    color: #ff8b00;
}

.about__detail {
    font-size: 17px;
    line-height: 30px;
    color: #939393;
    margin-bottom: 16px;
}

.about__container_video {
    position: relative;
    margin-bottom: 60px;
}

.about__video {
    width: 100%;
    height: auto;
    display: block;
}

.about__play {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__container_data {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

.about__data {
    width: 25%;
    text-align: center;
    margin: 20px 30px 0;
    font-family: Oswald, sans-serif;
}

.about__data_header {
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(52, 58, 64, 0.3);
    color: #ff8b00;
}

.about__data_text {
    font-size: 16px;
    color: #939393;
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .about__container_textbox {
        width: 54%;
        margin: 0 auto 50px;
    }

    .about__container_video {
        margin: 0 30px;
    }

    .about__container_data {
        margin: 50px 30px;
    }

    .about__data {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .about__container_video {
        margin: 100px 20px 0;
    }

    .about__data {
        width: 18%;
    }

    .about__data_header {
        font-size: 50px;
    }

    .about__data_text {
        font-size: 18px
    }
}

@media only screen and (min-width: 1024px) {
    .about__container_textbox {
        width: 60%;
    }

    .about__header {
        font-size: 45px;
    }

    .about__detail {
        font-size: 23px;
    }

    .about__container_video {
        margin: 100px 28px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .about__container_textbox {
        width: 48%;
    }

    .about__container_video {
        margin: 140px 150px 0;
    }

    .about__container_data {
        margin: 50px 150px;
    }

    .about__data_header {
        font-size: 55px;
    }

    .about__data_text {
        font-size: 22px;
    }
}



/* STAFF */
.staff {
    background-color: #f6f5f5;
}

.staff__container {
    padding: 48px 15px;
}

.staff__container_textbox {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.staff__header {
    font-size: 32px;
    color: #ff8b00;
    margin-bottom: 8px;
}

.staff__text {
    color: #939393;
    line-height: 30px;
    margin-bottom: 16px;
    font-size: 17px;
}

.staff__container_personal {
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 30px;
    font-family: Oswald, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal__photo {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 100%;
    margin-bottom: 16px;
}

.personal__name {
    font-size: 20px;
    margin-bottom: 8px;
}

.personal__role {
    font-size: 14px;
    color: #b8b8b8;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

.personal__text {
    font-size: 17px;
    color: #939393;
    margin-bottom: 24px;
    line-height: 30px;
    text-align: center;
}

.personal__social {
    width: 110px;
}

.personal__social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personal__social li {
    padding: 3px 10px;
    background-color: #ff8b00;
    border-radius: 3px;
    color: white;
}

.staff__container_dot {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.staff__tablet {
    display: none;
}

@media only screen and (min-width: 768px) {
    .staff__container_textbox {
        width: 50%;
        margin: 0 auto 50px;
    }

    .staff__text {
        font-size: 19px;
    }

    .personal__photo {
        width: 20%;
    }

    .staff__container_personal {
        margin: 0 30px;
    }

    .personal__text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    .staff__container_textbox {
        width: 60%;
    }

    .staff__header {
        font-size: 45px;
    }

    .staff__text {
        font-size: 19px;
    }

    .staff__container_dot .dot {
        display: none;
    }

    .staff__tablet {
        display: flex;
    }

    .staff__container_tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 60px 20px 50px;
    }

    .staff__container_personal {
        width: 31%;
        margin: 0 0 30px;
    }

    .personal__photo {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .staff__text {
        font-size: 20px;
    }

    .staff__container_tablet{
        margin: 60px 28px 50px;
    }

    .personal__text {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .staff__container_textbox {
        width: 44%;
    }

    .staff__header {
        font-size: 48px;
    }

    .staff__text {
        font-size: 23px;
    }

    .personal__photo {
        width: 45%;
    }

    .staff__container_tablet {
        margin: 100px 150px 50px;
    }

    .personal__text {
        font-size: 22px;
    }
}


/* PRICING */
.pricing__container {
    padding: 48px 15px;
    /* background-color: red; */
}

.pricing__container_textbox {
    text-align: center;
    font-family: Oswald, sans-serif;
}

.pricing__header {
    font-size: 32px;
    margin-bottom: 8px;
    color: #ff8b00;
}

.pricing__text {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    margin-bottom: 16px;
}

.pricing__container_package {
    margin-top: 50px;
}

.package__detail {
    padding: 30px;
    background-color: #f6f5f5;
    font-family: Oswald, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.package__header {
    font-size: 28px;
    margin-bottom: 8px;
}

.package__price {
    font-size: 48px;
    color: #ff8b00;
    margin-bottom: 30px;
}

.package__price span {
    font-size: 16px;
    color: #CCCCCC;
    letter-spacing: 2px;
}

.package__list {
    /* border: 1px solid blue; */
    font-family: Oswald, sans-serif;
    margin-bottom: 35px;
    margin-left: 35px;
}

.package__list li {
    position: relative;
    font-size: 19px;
    color: #939393;
    margin-bottom: 20px;
}

.package__list li::before {
    left: -25px;
    font-size: 20px;
    top: -2px;
    content: url(tick.png);
    position: absolute;
}

.package__button {
    font-size: 17px;
    background-color: #6c757d;
    padding: 12px 20px;
    border: none;
    color: white;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    .pricing__container_textbox {
        margin: 0 auto;
        width: 50%;
    }

    .pricing__container_package {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 50px 30px;
    }

    .pricing__text {
        font-size: 18px;
    }

    .package__detail {
        margin-bottom: 30px;
        width: 48%;
    }
}

@media only screen and (min-width: 992px) {
    .package__detail {
        width: 31%;
    }

    .pricing__container_package {
        margin: 60px 20px;
    }

    .pricing__container_textbox {
        width: 60%;
    }

    .pricing__header {
        font-size: 45px;
    }

    .pricing__text {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .pricing__container_package {
        margin: 75px 28px;
    }
}

@media only screen and (min-width: 1440px) {
    .pricing__container_textbox {
        width: 45%;
    }

    .pricing__header {
        font-size: 48px;
    }

    .pricing__text {
        font-size: 22px;
    }

    .pricing__container_package {
        margin: 100px 150px 50px;
    }
}



/* QUESTIONS */
.question {
    background-color: #f6f5f5;
}

.question__container {
    padding: 48px 15px;
}

.question__container_header {
    text-align: center;
    margin-bottom: 35px;
}

.question__header {
    font-size: 32px;
    color: #ff8b00;
    font-family: Oswald, sans-serif;
    margin-bottom: 8px;
}

.question__container_textbox {
    font-family: Oswald, sans-serif;
}

.question__textbox {
    /* border: 1px solid black; */
    margin-bottom: 48px;
}

.question__textbox_header i {
    color: #ff8b00;
    font-size: 20px;
    margin-right: 5px;
}

.question__textbox_header {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
}

.question__textbox_detail {
    font-size: 17px;
    color: #939393;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .question__container {
        margin: 0 24px;
    }

    .question__container_textbox {
        margin-top: 45px;
    }
}

@media only screen and (min-width: 992px) {
    .question__header {
        font-size: 45px;
    }

    .question__container_textbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 60px 20px;
    }

    .question__textbox {
        width: 48%;
    }
}

@media only screen and (min-width: 1024px) {
    .question__container_textbox {
        margin: 60px 28px;
    }

    .question__container {
        padding-top: 100px;
    }

    .question__header {
        font-size: 46px;
    }

    .question__textbox_header {
        font-size: 22px;
    }

    .question__textbox_detail {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .question__container_textbox {
        margin: 100px 150px 50px;
    }

    .question__textbox_header {
        font-size: 24px;
    }

    .question__textbox_detail {
        font-size: 23px;
    }
}



/* WHY US */
.us__container {
    padding: 48px 15px;
    border-top: 1px solid #dee2e6;
}

.us__container_image {
    background-image: url('https://preview.colorlib.com/theme/cargo/images/cargo_sea_small.jpg');
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.us__container_textbox {
    font-family: Oswald, sans-serif;
}

.us__header {
    font-size: 32px;
    margin-bottom: 24px;
}

.us__sub {
    color: #ff8b00;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
}

.us__detail {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    margin-bottom: 16px;
}

.us__list {
    margin: 48px 0 50px 0;
}

.us__list i {
    color: #ff8b00;
    padding-right: 15px;
}

.us__list li {
    font-size: 17px;
    color: #939393;
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .us__container {
        margin: 0 20px 40px;
        border: none;
    }


}

@media only screen and (min-width: 992px) {
    .us__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 40px;
        padding-top: 100px;
    }

    .us__container_image {
        width: 55%;
        height: 662px;
    }

    .us__container_textbox {
        width: 35%;
        margin-right: 10px;
    }

    .us__header {
        font-size: 35px;
    }

    .us__sub {
        font-size: 26px;
    }

    .us__detail {
        font-size: 20px;
    }

    .us__list li {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1024px) {
    .us__container_image {
        width: 52%;
    }

    .us__container {
        margin: 0px 40px 40px;
    }

    .us__detail {
        font-size: 23px;
    }

    .us__list li {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .us__container {
        margin: 100px 150px 50px;
    }
}



/* CLIENTS */
.client {
    background-color: #f6f5f5;
}

.client__container {
    /* border: 1px solid black; */
    padding: 48px 15px;
    font-family: Oswald, sans-serif;
    text-align: center;
}

.client__container_header {
    margin-bottom: 50px;
}

.client__header {
    font-size: 32px;
    color: #ff8b00;
    margin-bottom: 8px;
}

.client__message {
    padding: 30px;
    background-color: #fff;
    margin: 20px
}

.client__message_text {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 16px;
    line-height: 30px;
}

.client__container_image {
    margin-top: 50px;
}

.client__image {
    width: 25%;
    height: auto;
    display: block;
    border-radius: 100%;
    margin: 0 auto 20px;
}

.client__name {
    font-size: 18px;
    margin-bottom: 24px;
}

.client__container_dot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}



/* ARTICLE */
.article {
    padding: 48px 15px;
}

.article__container {
    font-family: Oswald, sans-serif;
}

.article__container_header {
    margin-bottom: 50px;
}

.article__header {
    font-size: 32px;
    margin-bottom: 8px;
    color: #ff8b00;
    text-align: center;
}

.article__container_post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.article__postImage {
    width: 50%;
}

.article__postImage_image {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 3px;
}

.article__postBlog {
    width: 43%;
}

.article__postBlog_date {
    font-size: 16px;
    color: #6c757d;
}

.article__postBlog_header {
    margin-bottom: 16px;
    font-size: 24px;
}

.article__postBlog_text {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    margin-bottom: 16px;
}

.article__postBlog_more {
    color: #ff8b00;
    font-size: 18px;
}



/* CONTACT US */
.contact {
    background-color: #f6f5f5;
}

.contact__container {
    padding: 48px 15px;
}

.contact__container_header {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin-bottom: 48px;
}

.contactUs__sub {
    font-size: 14px;
    color: #B8B8B8;
    font-weight: bold;
}

.contactUs__header {
    color: #ff8b00;
    font-size: 32px;
    margin-bottom: 8px;
}

.contact__container_input {
    font-family: Oswald, sans-serif;
    margin-bottom: 30px;
}

.contactUs__input {
    font-family: Oswald, sans-serif;
    width: 100%;
    height: 55px;
    border: 1px solid #e6e6e6;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 16px;
    color: #797979;
}

.contactUs__message {
    height: 200px;
}

.contactUS__button {
    padding: 20px 48px;
    width: 100%;
    background-color: #ff8b00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 17px;
}

.contact__container_info {
    padding: 16px;
    background-color: #fff;
    text-align: left;
    font-family: Oswald, sans-serif;
}

.contactInfo__header {
    font-size: 28px;
    margin-bottom: 24px;
}

.contactInfo__sub {
    font-size: 17px;
}

.contactInfo__text {
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    margin-bottom: 20px;
}



/* FOOTER */
.footer {
    background-color: #333333;
}

.footer__container {
    padding: 64px 15px;
}

.footer__container_textbox {
    /* border: 1px solid green; */
    font-family: Oswald, sans-serif;
    color: white;
}

.footer__header {
    font-size: 17px;
    margin-bottom: 24px;
}

.footer__text {
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 16px;
}

.footer__container_feature {
    /* border: 1px solid red; */
    font-family: Oswald, sans-serif;
    margin-bottom: 25px;
}

.feature__header {
    color: white;
    font-size: 17px;
    margin-bottom: 24px;
}

.feature__list li {
    color: #939393;
    margin-bottom: 10px;
    font-size: 17px;
}

.footer__container_newsletter {
    /* border: 1px solid yellow; */
    font-family: Oswald, sans-serif;
    color: white;
    margin-bottom: 30px;
}

.newsletter__header {
    font-size: 17px;
    margin-bottom: 24px;
}

.newsletter__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newsletter__input_bar {
    width: 70%;
    height: 40px;
    border-radius: 3px 0 0 3px;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    font-family: Oswald, sans-serif;
}

.newsletter__input_button {
    width: 30%;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: none;
    background-color: #ff8b00;
    color: white;
    font-size: 16px;
    font-family: Oswald, sans-serif;
}

.footer__container_social {
    /* border: 1px solid orange; */
    margin-bottom: 75px;
}

.social__header {
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 17px;
    margin-bottom: 24px;
}

.social__icon ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.social__icon i {
    color: #939393;
}

.footer__container_copyright {
    /* border: 1px solid yellow; */
    border-top: 1px solid #797979;
    padding-top: 48px;
    font-family: Oswald, sans-serif;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.copyright__text {
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}

.fa-heart {
    color: red;
}

.colorlib {
    color: #939393;
}